---
import Layout from "@layouts/Layout.astro";
import ItemCard from "@components/UI/ItemCard.astro";

const filename_regex = /.*\/(\d+)_(\w+[\s?\w*]*).\w{3,4}/;
const fabrics = await Astro.glob("../../assets/fabric/*.jpg").then((files) =>
    files.map((file) => {
        return {
            path: file.default,
            order: parseInt(file.default.match(filename_regex)[1]),
            name: file.default.match(filename_regex)[2],
        };
    })
);
---

<Layout title="ME | Fabric">
    <div class="flex flex-col justify-center items-center gap-2 p-10">
        <h2 class="text-4xl uppercase font-bold">Fabric</h2>
        <span class="text-lg">
            High quality, 100% cotton, durable fabric. Custom colors available
            upon request.</span
        >
    </div>
    <div class="flex gap-4 flex-wrap justify-center items-center mb-10">
        {
            fabrics
                .sort((a, b) => a.order - b.order)
                .map((fabric) => (
                    <ItemCard
                        page="fabric"
                        imgURL={fabric.path}
                        name={fabric.name}
                    />
                ))
        }
    </div>
</Layout>
