---
import Layout from "@layouts/Layout.astro";
import ItemCard from "@components/ItemCard.astro";

const filename_regex = /.*\/(\d+)_(\w+[\s?\w*]*).\w{3,4}/;
const leathers = await Astro.glob("../../assets/leather/*.jpg").then((files) =>
    files.map((file) => {
        return {
            path: file.default,
            order: parseInt(file.default.match(filename_regex)[1]),
            name: file.default.match(filename_regex)[2],
        };
    })
);
---

<Layout title="ME | Leather">
    <div class="flex flex-col justify-center items-center gap-2 p-10">
        <h2 class="text-4xl uppercase font-bold">Leather</h2>
        <span class="text-lg">
            Highest Quality Leather. Custom colors available upon request.</span
        >
    </div>
    <div class="flex gap-4 flex-wrap justify-center items-center mb-10">
        {
            leathers
                .sort((a, b) => a.order - b.order)
                .map((leather) => (
                    <ItemCard
                        page="leather"
                        imgURL={leather.path}
                        name={leather.name}
                    />
                ))
        }
    </div>
</Layout>
