---
import * as path from "path";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const fabric_swatches = await getCollection("fabric_swatches");
const modules = (await Astro.glob("../assets/fabric_swatches/*")).map(
    (img) => img.default.src
);
---

<Layout title="Mercury | Fabric">
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 p-10"
    >
        {
            fabric_swatches.map((swatchData) => (
                <div>
                    <div class="w-48 h-48 shadow-xl">
                        <img
                            class="w-full h-full"
                            src={modules.find((pathval) =>
                                pathval.includes(
                                    path.parse(swatchData.data.image).name
                                )
                            )}
                        />
                    </div>
                    <p class="text-md capitalize">{swatchData.data.color}</p>
                    <p class="text-sm uppercase text-gray-400">
                        {swatchData.data.type}
                    </p>
                </div>
            ))
        }
    </div>
</Layout>
