---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const jackets = await getCollection("jackets");
---

<Layout title="Mercury | Jackets">
    <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 p-10"
    >
        {jackets.map((jacketData) => <img src={jacketData.data.image} />)}
    </div>
</Layout>
