<ul class="menu p-4 w-80 bg-base-100">
    <!-- Sidebar content here -->
    <div class="collapse collapse-arrow">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">About Us</div>
        <ul class="collapse-content">
            <li><a>Management</a></li>
            <li><a>Infrastructure</a></li>
            <li><a>FAQ</a></li>
        </ul>
    </div>
    <div class="collapse collapse-arrow">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">Products</div>
        <ul class="collapse-content">
            <li><a href="/leather">Leather</a></li>
            <li><a href="/fabric">Fabric</a></li>
            <li><a href="/wool">Wool</a></li>
            <li><a href="/shirts">T-Shirts</a></li>
            <li><a href="/polos">Polos</a></li>
            <li><a href="/bags">Bags</a></li>
        </ul>
    </div>
    <a href="" class="collapse-title text-xl font-medium">Manufacturing</a>
    <a class="collapse-title text-xl font-medium">Contact Us</a>
</ul>
