<ul class="menu p-4 w-80 bg-black">
    <a href="/about-us" class="collapse-title text-xl font-medium text-white">
        About Us
    </a>
    <a href="/leather" class="collapse-title text-xl font-medium text-white">
        Leather
    </a>
    <a href="/fabric" class="collapse-title text-xl font-medium text-white">
        Fabric
    </a>
    <a href="/sleeves" class="collapse-title text-xl font-medium text-white">
        Sleeves
    </a>
    <a href="/jackets" class="collapse-title text-xl font-medium text-white">
        Jackets
    </a>
    <a href="/bags" class="collapse-title text-xl font-medium text-white">
        Bags
    </a>
</ul>
