<ul class="menu p-4 w-80 bg-black">
    <!-- Sidebar content here -->
    <div class="collapse collapse-arrow">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium text-white">
            Products
        </div>
        <ul class="collapse-content">
            <li>
                <a class="text-white" href="/materials">Materials</a>
            </li>
            <li><a class="text-white" href="/shirts">T-Shirts</a></li>
            <li><a class="text-white" href="/polos">Polos</a></li>
            <li><a class="text-white" href="/bags">Bags</a></li>
        </ul>
    </div>
    <a class="collapse-title text-xl text-white font-medium">Contact Us</a>
</ul>
