---
import HamburgerMenu from "./HamburgerMenu.astro";
---

<nav class="navbar top-0 z-50 bg-black">
    <div class="flex-1 px-2 lg:flex-none">
        <a class="text-lg font-bold text-white" href="/">Mercury</a>
    </div>
    <HamburgerMenu navLabel="nav-drawer" />
    <div class="hidden lg:flex justify-end flex-1 px-2">
        <div class="flex items-stretch gap-2">
            <a class="btn btn-ghost text-white" href="/about-us">About Us</a>
            <a class="btn btn-ghost text-white" href="/leather">Leather</a>
            <a class="btn btn-ghost text-white" href="/fabric">Fabric</a>
            <a class="btn btn-ghost text-white" href="/sleeves">Sleeves</a>
            <a class="btn btn-ghost text-white" href="/jackets">Jackets</a>
            <a class="btn btn-ghost text-white" href="/bags">Bags</a>
        </div>
    </div>
</nav>
