---
import SocialMediaIcons from "./SocialMediaIcons.astro";
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <SocialMediaIcons instagramURL="" facebookURL="" />
    <div>
        <p>71 Topsia Road South, Kolkata, West Bengal 700046, India</p>
        <p>izhar@mercuryexports.com</p>
        <p>Tel: +1 (516)-270-4813</p>
    </div>
    <p>
        Copyright © 2023 - All right reserved by International Leather Clothiers
    </p>
</footer>
