---
---

<footer class="bottom-0 w-full h-1/5 bg-yellow-500">
    <div class="flex basis-full p-4">
        <div class="flex flex-col gap-2">
            <span>Contact Us</span>
            <span>71 Topsia Road South, Kolkata, West Bengal 700046, India</span
            >
            <span>Tel: +1 (516)-270-4813</span>
            <span>izhar@mercuryexports.com</span>
        </div>
        <div class="flex flex-grow"></div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.1874403061224!2d88.3857743!3d22.5346502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276beca115a09%3A0x326efa48cf15766b!2s71%2C%20Topsia%20Rd%2C%20Topsia%2C%20Kolkata%2C%20West%20Bengal%20700046%2C%20India!5e0!3m2!1sen!2sus!4v1684779949979!5m2!1sen!2sus"
            width="500"
            height="250"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer>
