---
import SocialMediaIcons from "./SocialMediaIcons.astro";
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <SocialMediaIcons instagramURL="" facebookURL="" />
    <div>
        <p>33 Hinsdale Avenue, Floral Park NY 11001</p>
        <p>izhar@mercuryexports.com</p>
        <p>Tel: +1 (516)-270-4813</p>
    </div>
    <p>Copyright © 2023 - All right reserved by Mercury Exports</p>
</footer>
