---
import HamburgerMenu from "./HamburgerMenu.astro";
---

<div class="drawer drawer-end">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
        <nav class="navbar bg-base-300">
            <div class="flex-1 px-2 lg:flex-none">
                <a class="text-lg font-bold">International Leather Clothiers</a>
            </div>
            <HamburgerMenu navLabel="nav-drawer" />
            <div class="hidden lg:flex justify-end flex-1 px-2">
                <div class="flex items-stretch gap-2">
                    <div class="dropdown dropdown-hover">
                        <label class="btn btn-ghost">About Us</label>
                        <ul class="dropdown-content menu p-2">
                            <li><a>Management</a></li>
                            <li><a>Infrastructure</a></li>
                            <li><a>FAQ</a></li>
                        </ul>
                    </div>
                    <div class="dropdown dropdown-hover">
                        <label class="btn btn-ghost">Products</label>
                        <ul class="dropdown-content menu p-2">
                            <li><a>Leather</a></li>
                            <li><a>Fabric</a></li>
                            <li><a>T-Shirts</a></li>
                            <li><a>Polos</a></li>
                            <li><a>Bags</a></li>
                            <li><a>Wool</a></li>
                        </ul>
                    </div>
                    <div class="btn btn-ghost">Manufacturing</div>
                    <div class="btn btn-ghost">Contact Us</div>
                </div>
            </div>
        </nav>
        <slot />
    </div>
    <div class="drawer-side">
        <label for="nav-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100">
            <!-- Sidebar content here -->
            <div class="collapse collapse-arrow">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">About Us</div>
                <ul class="collapse-content">
                    <li><a>Management</a></li>
                    <li><a>Infrastructure</a></li>
                    <li><a>FAQ</a></li>
                </ul>
            </div>
            <div class="collapse collapse-arrow">
                <input type="checkbox" />
                <div class="collapse-title text-xl font-medium">Products</div>
                <ul class="collapse-content">
                    <li><a>Leather</a></li>
                    <li><a>Fabric</a></li>
                    <li><a>T-Shirts</a></li>
                    <li><a>Polos</a></li>
                    <li><a>Bags</a></li>
                    <li><a>Wool</a></li>
                </ul>
            </div>
            <a href="" class="collapse-title text-xl font-medium"
                >Manufacturing</a
            >
            <a class="collapse-title text-xl font-medium">Contact Us</a>
        </ul>
    </div>
</div>
