---
import Layout from "@layouts/Layout.astro";
---

<Layout title="ME | T-Shirts">
    <div class="flex flex-col justify-center items-center gap-2 p-10">
        <h2 class="text-4xl uppercase font-bold">T-Shirts</h2>
        <span class="text-lg">
            Highest Quality T-Shirts. Custom colors available upon request.</span
        >
    </div>
    <div class="flex gap-4 flex-wrap justify-center items-center mb-10"></div>
</Layout>
